
/* ----------------------------------------------Search Form-------------------------------------*/

#sitesearch{
	display:block;
	width:293px;
	padding:10px 0 15px;
	background:#4F565B;
	}

#sitesearch input{
	display:block;
	float:left;
	width:165px;
	height:25px;
	margin:0 10px 0 17px;
	padding:0 5px 0 10px;
	color:#E1E1E1;
	background:#5D666C;
	border:none;
	}

#sitesearch img #search{
	width:70px;
	height:25px;
	margin:0;
	padding:0;
	cursor:pointer;
	background:none;
	float:left;
	}

